schema/B2BType3DetailedCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 (http://www.altova.com) by Jason Farrugia (Malta Gaming Authority) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rri="RRI" xmlns:mga="MGA" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:import namespace="RRI" schemaLocation="commonTypes.xsd"/>
	<xs:element name="B2BType3CompDtlRpt" type="mga:B2BType3GameDetailedReport" id="Root">
		<xs:annotation>
			<xs:documentation>Compliance Detailed Report to be generated by B2B operators. This report has to be generated daily, 00:00:00 UTC. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="B2BType3GameDetailedReport">
		<xs:annotation>
			<xs:documentation>Detailed Report to be generated by B2B operators</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="mga:DocumentHeaderType1">
				<xs:annotation>
					<xs:documentation>Document Metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GmActvty" type="mga:Type3DetailedGameActivityByOperator" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Document Content. Repeat for every B2C operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
