schema/B2BType3SmryCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by Mario Galea (Random Consulting) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rri="RRI" xmlns:mga="MGA" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:import namespace="RRI" schemaLocation="commonTypes.xsd"/>
	<xs:element name="B2BType3CompSmryRpt" type="mga:B2BType3GameSummaryReport" id="Root">
		<xs:annotation>
			<xs:documentation>Compliance Summary Report to be generated by B2B operators. This report has to be generated daily, 00:00:00 UTC. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="B2BType3GameSummaryReport">
		<xs:annotation>
			<xs:documentation>Detailed Report to be generated by B2B operators</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="mga:DocumentHeaderType1">
				<xs:annotation>
					<xs:documentation>Document Metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CCY" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Currency Type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SmryGmActvtybyOpr" type="mga:SummaryType3ActivityByOperator" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Document Content. Repeat for every B2C operator</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CCY" type="rri:ISOCurrencyCode" default="EUR"/>
					<xs:attribute name="BaseRate" type="xs:decimal" default="1.0">
						<xs:annotation>
							<xs:documentation>The base rate for the currency with the EUR on the date the report is generated. Base rate must be taken from the European Central Bank.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
