schema/B2BType1SmryCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by mgalea (Ramdom Consulting LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rri="RRI" xmlns:mga="MGA" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:import namespace="RRI" schemaLocation="commonTypes.xsd"/>
	<xs:element name="B2BTp1SmryRpt" type="mga:B2BType1SummaryReport" id="Root">
		<xs:annotation>
			<xs:documentation>Compliance Summary Report to be generated by B2B operators. This report has to be generated daily, 00:00:00 UTC. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="B2BType1SummaryReport">
		<xs:annotation>
			<xs:documentation>B2BType Summary Report</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="mga:DocumentHeaderType1">
				<xs:annotation>
					<xs:documentation>Document Metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CCY" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Currency</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GmActvybyOpr" type="mga:SummaryType1ActivitybyOperator" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Document Content. Repeat for every operator</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="B2BJackpots" type="mga:JackpotsSummary" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="CCY" type="rri:CurrencyCode" default="EUR"/>
					<xs:attribute name="BaseRate" type="xs:decimal" default="1.0">
						<xs:annotation>
							<xs:documentation>The base rate for the currency with the EUR on the date the report is generated. Base rate must be taken from the European Central Bank.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
