schema/B2BType2SmryCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 (http://www.altova.com) by Jason Farrugia (Malta Gaming Authority) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rri="RRI" xmlns:mga="MGA" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:import namespace="RRI" schemaLocation="commonTypes.xsd"/>
	<xs:element name="B2BType2CompSmryRpt" type="mga:B2BTp2SmryRprt" id="Root">
		<xs:annotation>
			<xs:documentation>Compliance Detailed Report to be generated by B2B operators. This report has to be generated daily, 00:00:00 UTC. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SmryGameActvybyB2COpr">
		<xs:annotation>
			<xs:documentation>Summary Report to be generated by B2C operators</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OprId" type="mga:OperatorMTLicence" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Operators ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="mga:BettingActivitySummary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="B2BTp2SmryRprt">
		<xs:annotation>
			<xs:documentation>B2B Type Summary Report</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="rri:DocumentHeaderType1">
				<xs:annotation>
					<xs:documentation>Document Metadata. in this case Tp of Document must be report. period type must be periodic. category must be summary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Content" type="mga:SmryGameActvybyB2COpr" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Document Content. Repeat for every B2C operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
