schema/B2CPlyrDtl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by mgalea (Ramdom Consulting LLC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mga="MGA" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:element name="B2CPlyrAcctsDetail" type="mga:PlayerDataDetailedReport" id="Root">
		<xs:annotation>
			<xs:documentation>Player Accounts Detailed Report to be generated by B2C operators. This report  has to be generated once a month at calender month end date, 00:00:00 UTC.The minimum reported period is one calendar day. Licensees have 20 days to generate the report. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Operators can generate this report with higher frequencies (i.e. daily or weekly). Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PlayerDataDetailedReport">
		<xs:annotation>
			<xs:documentation>Player Data Report</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="mga:DocumentHeaderType1"/>
			<xs:choice>
				<xs:element name="Online">
					<xs:annotation>
						<xs:documentation>For Online Gaming Only</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Player" type="mga:PlayerAccountDetailType1" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="LandBased">
					<xs:annotation>
						<xs:documentation>For Land Based Gaming Only</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Player" type="mga:PlayerAccountDetailType2" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>All Reporting for land based gaming  must be in Euros.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
