schema/B2CSmryCompliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mga="MGA" xmlns:rri="RRI" targetNamespace="MGA" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="MGATypes.xsd"/>
	<xs:import namespace="RRI" schemaLocation="commonTypes.xsd"/>
	<xs:element name="B2CCompSmryRpt" type="mga:AccountActivitySummaryReport" id="Root">
		<xs:annotation>
			<xs:documentation>Compliance Detailed Report to be generated by B2C operators. This report has to be generated daily, 00:00:00 UTC. Filing is automatic following generation. The MGA shall datestamp and hash the report. The difference time between Datestamp and creation date must be less than 15 seconds. Data must be reported in absolute terms. i.e even for players or accounts that have been not active during the period. Test accounts and dummy accounts are to be included in this report.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccountActivitySummaryReport">
		<xs:annotation>
			<xs:documentation>Account Acctivity Summary</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="mga:DocumentHeaderType1">
				<xs:annotation>
					<xs:documentation>Report Metadata</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CCY" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Currency Type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PlyrActvySmry" type="mga:AccountActivitySummary">
							<xs:annotation>
								<xs:documentation>Report Details</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CCY" type="rri:ISOCurrencyCode" default="EUR"/>
					<xs:attribute name="BaseRate" type="xs:decimal" default="1.0">
						<xs:annotation>
							<xs:documentation>The base rate for the currency with the EUR on the date the report is generated. Base rate must be taken from the European Central Bank.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="B2CJckPtsSmry" type="mga:JackpotsSummary" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Jacpots organized by the B2C operator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
